body {
    background: linear-gradient(to right, #B6B6B6, #291A40);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    font-family: Verdana;
}

.klik {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    height: 100vh;
    margin: 0;
    font-size: 40px;
}
 
.kims {
    background: #E2CDD5;
    border: 20px;
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    font-style: oblique;
    font-weight: bold;
    filter: blur(1px);
    box-shadow: 4px 4px 5px rgb(153, 68, 223);
    transition: all 0.3s ease;

}

.kims:hover {
    cursor: pointer;
    filter: blur(0);
    transform: translateY(3px);
    box-shadow: 3px 5px 100px rgb(175, 13, 154);
}

.kims :active {
    transition: all 0.3s;
    filter: none;
  }


